<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Magento_UI_Automation">
    <test verbose="2" preserve-order="true" name="catalog_Module_Test"  thread-count="3">
        <classes>
            <class name="runner.testngframwork.CatalogModuleRunner">
                <methods>
                    <include name="editSubCategoryTest"></include>
                    <include name="deleteSubcategoryTest"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>